body { min-width: 1300px; }
#header {
    background: #ffffff;
    height: 50px;
    color: #099acb;
    border-bottom: solid 1px #c3c3c3;
}
#nav-bar {
    float: left;
    width: 150px;


}
#view-select {
    float: left;
    width: 150px;
    border-left: 1px solid #000000 ;

}
#searchbox{
    float: right;
    margin-right: 70px;
}

.nav {
    display: block;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.view {
    display: block;
    float: left;
    margin-left: 10px;
    cursor: pointer;


}
#main {

    height: 1000px;
    margin-top: 10px;
}

#mytabs {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;

}
#mainlist {
    height: 50px;
    background: #09b3f1;

    border-bottom: 1px solid #096197;
}
.mainlist {
    display: block;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}
#loginform {
    height: 350px;
    margin-top: 15px;
    background: #e1e1e1;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
#loginbox {
    padding-top: 100px;
    padding-left: 50px;
}
#registerbox {

    padding-left: 50px;
}
#registerform {
    height: 480px;
    margin-top: 15px;
    background: #e1e1e1;
    display: none;
    border-top: 1px solid #808080;
}

#taskinfo {
    display: none;
    height: 1000px;
    background: #ffffff;
}
#addtask{
    display: none;
    height: 1000px;
    background: #ffffff;
}
#taskcontainer {

    margin-left: 40%;

}
#newtask {
    margin-top:100px
}
#tabs-1 {

    background: #ffffff;
    width: 1500px;
}
#tabs-1 .block {
    background: #ffffff;
    width: 300px;
    float: left;
    margin-right: 10px;



}
#tabs-2 .block {
    background: #ffffff;
    width: 300px;
    float: left;
    margin-right: 10px;


}

.taskcont {
    margin-top: 10px;
    height: 50px;
    background: white;
    color: #2B2B2B;
    border: solid 1px darkgray;

}
.text {
    cursor: pointer;
    width: 265px;
    margin-left: 10px;
    float: left;
    height: 40px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#hide-1{
display: none;
}
.blockinfo {
    height: 30px;
}

.addline {
    background: #f4f4f4;
    color: #2B2B2B;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.add {
    padding-left: 50%;
    margin-top: 50%;
}
#tabs-2 .addline {
    margin-top: 17px;
}

.addline:hover {
    background: #a5a5a5;
}
#gotomain {
    cursor: pointer;
}
#foldid{
    display: none;
}
.block {
    color: #099acb;
}
.delete {
    float: right;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

#tabs-2 {
    width: 2500px;
}



.delfolder {
    float: right;
    margin-top: 0;

    font-size: small;
    color: #272727;
    cursor: pointer;
}
#personal {
    display: none;
}
#newfolder2{
    color: #099acb;
    margin-left: 20px;
    cursor: pointer;
}
#newfolder{
    float: right;
    margin-right: 10px;
}
#backtask{
    cursor: pointer;
    float:right;

}


.border {
    border: 1px solid #000000;
    min-height: 150px;
}
.item-column {
    min-height: 600px;
}

#info {
    height: 70px;
    width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#manageform {
    height: 600px;
    width: 900px;
    background: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
.managenames {
    float: left;
    margin-left: 150px;
    cursor: pointer;
    color: #099acb;
}
.manage {
    padding-top: 100px;
    width: 900px;
    height: 450px;
    border: 1px solid #d0d0d0;
    padding-left: 50px;

}
#userinfobox {
    float: right;
    margin-right: 5px;
}
#userinfo{
    margin: 1px;
}
#logout{
    cursor: pointer;
}
.reg{
    margin-top: 15px;
}
#regbutton {
    float: right;
    margin-top: 15px;
    margin-right: 75px;
}
#logbutton {
    float: right;
    margin-top: 15px;
    margin-right: 75px;
}
#errors {
    margin-top: 70px;

}
#logerrors {
    margin-top: 70px;

}
.errorlist {
    display: block;
    color: red;
}
.foldern{
    width: 300px;

}
.ziga {
    cursor: pointer;
    float: right;

}
#dropfiles {
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted #3498db;
    padding-top: 40px;
    padding-left: 50px;
    color: #bdc3c7;
    font-size: 200%;

}
#filesend {
    margin-top: 20px;
}
.download {
    display: block;
}
.downimg img {
    cursor: pointer;

}
.delfiles img {
    cursor: pointer;
}
.ui-state-highlight {
    border: 3px dashed #d1d1d1;
    margin-top: 10px;
    height: 40px;
    background: #f6f6f6;
}
#question {
margin-bottom: 5px;
    width: 150px;

}
#question2 {
    margin-bottom: 5px;
    width: 150px;

}
